
Terminology used in this paper:

A template is a program unit that is parameterized by one or more
template parameters.

A template instantiation is the program unit defined by a template and
a particular set of actual template parameters.

A template parameter can be any of:
  - type name
  - constant expression
  - procedure name
  - operator


